@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 0px;
  padding: 10px 45px;
}

.capa-txt {
  padding: 230px 0px 120px 30px;
}

.capa {
  color: #fff;
  background-image: url("../../images/capa.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-family: 'Merriweather', serif;
  font-size: 44px;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  color: #94c2ff;
}

.txt {
  font-family: 'Poppins', sans-serif;
}

.sobre {
  padding: 50px;
  background-color: #e6e6e6;
}

.img-sobre {
  padding: 30px 0px 30px 0px;
}

.sobre-txt {
  padding: 100px 150px 30px 0px; 
}

.bg-servicos {
  padding: 100px 50px 50px 50px;
  background: linear-gradient(to bottom, #94c2ff 0%,#94c2ff 50%,#000000 50%,#f5f5f5 50%,#f5f5f5 100%);
}

.texto-servicos {
  color: #fff;
  margin-bottom: 70px;
}

.servicos {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #fff;
}

.servico {
  padding: 20px;
  align-content: center;
}

.servico-box {
  border-radius: 5px;
  background-color: #fff;
  color: #212529;
  padding: 40px 30px;
}

.texto-servico {
  text-align: left;
}

.btn-servico {
  padding: 10px 20px;
  border-color: #94c2ff;
  background-color: #94c2ff;
  color: #fff;
}

.btn-servico :hover{
  border-color: #94c2ff;
  background-color: #94c2ff;
}

.icone-round {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #94c2ff;
  color: #fff;
  text-align: center;
  padding: 12px 0px 0px 0px;
  margin-bottom: 30px;
}

.servico-1 {
  padding: 100px 50px 100px 50px;
  text-align: center;
  color: #fff;
  background-color: #256ecf;
}

.servico-2 {
  padding: 100px 50px 100px 50px;
  text-align: center;
  color: #fff;
  background-color: #3e7ac9;
}

.servico-3 {
  padding: 100px 50px 100px 50px;
  text-align: center;
  color: #fff;
  background-color: #4a8ee8;
}

.contato {
  background-color: #f5f5f5;
  padding: 100px 0px 100px 0px;
}

.contato-box {
  padding: 50px 0px 100px 0px;
}

.redes-box {
  margin-top: 50px;
}

.icones {
  padding: 10px 100px 10px 0px;
}

.icone-redes {
  margin-right: 50px;
  color: #212529;
}

.frm-box {
  padding: 50px 50px 50px 50px;
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
  background-color: #94c2ff;
  color: #fff;
}

.frm-input {
  border-radius: 0px;
  margin-bottom: 10px;
}