@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.footer-topo {
  background-color: #f5f5f5;
  font-family: 'Merriweather', serif;
  margin-bottom: 0px;
}

.footer-base {
  background-color: grey;
  color: #fff;
  padding: 10px 0px 10px 0px;
}

.icone-redes {
  color: #fff;
  padding: 5px;
}

.info-txt {
  font-family: 'Merriweather', serif;
}