.navbar-transparent {
    transition: 500ms;
    background-color: none;
}

.navbar.scrolled{
    background-color: #fff;
}

.nav-item, .navbar-brand {
    color: #fff;
}

.nav-item:hover, .navbar-brand:hover{
    color: #e6e6e6;
}

.navbar-light {
    transition: 500ms;
    background-color: #f8f9fa;
}