.navbar {
    background-color: none;
}

.navbar.scrolled{
    background-color: #fff;
}

.nav-item, .navbar-brand {
    color: #fff;
}

.nav-item:hover, .navbar-brand:hover{
    color: #e6e6e6;
}

.nav-item > .active {
    color: #103bca;
}