@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 10px 45px;
}

.capa-txt {
  padding: 230px 0px 120px 30px;
}

.capa {
  color: #fff;
  background-image: url("../../images/capa.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-family: 'Merriweather', serif;
  font-size: 44px;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
}

.txt {
  font-family: 'Open Sans', sans-serif;
}

.sobre {
  padding: 50px;
  background-color: #e6e6e6;
}

.img-sobre {
  padding: 30px 0px 30px 0px;
}

.sobre-txt {
  padding: 100px 150px 30px 0px; 
}

.bg-servicos {
  padding: 100px 50px 50px 50px;
  color: #fff;
  background: linear-gradient(to bottom, #94c2ff 0%,#94c2ff 50%,#000000 50%,#f5f5f5 50%,#f5f5f5 100%);
}

.servicos {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #fff;
}

.servico-1 {
  padding: 100px 50px 100px 50px;
  text-align: center;
  color: #fff;
  background-color: #256ecf;
}

.servico-2 {
  padding: 100px 50px 100px 50px;
  text-align: center;
  color: #fff;
  background-color: #3e7ac9;
}

.servico-3 {
  padding: 100px 50px 100px 50px;
  text-align: center;
  color: #fff;
  background-color: #4a8ee8;
}

.icone {
  margin-top: 10px;
  margin-bottom: 30px;
}

.contato {
  background-color: #f5f5f5;
}

.frm-contato {
  padding: 50px 100px 100px 100px;
}

.frm-input {
  border-radius: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.frm {
  text-align: center;
}

.info-txt {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 0px;
}

/* .redes{
  margin-top: 100px;
  text-align: center;

}

.icones {
  text-align: center;
}

.icone-redes {
  padding: 10px 20px 10px 20px;
} */