@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 10px 45px;
}

.btn-primary {
  color: #fff;
}

.div-home {
  padding: 100px 100px;
  text-align: center;
}

.capa-txt {
  padding: 200px 0px 100px 50px;
}

.capa {
  color: #fff;
}

.title {
  font-family: 'Open Sans', sans-serif;
}

.title-p {
  font-family: 'Open Sans', sans-serif;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
}

.txt {
  font-family: 'Open Sans', sans-serif;
}

.sobre {
  margin-right: 100px;
  padding: 50px 50px;
  background-color: #e6e6e6;
}

.img-sobre {
  padding: 30px 0px 30px 0px;
}

.sobre-txt {
  padding: 100px 0px 30px 0px; 
}

.bg-servicos {
  padding: 100px;
  background: linear-gradient(to bottom, #76b9f0 0%,#76b9f0 50%,#000000 50%,#e6e6e6 50%,#e6e6e6 100%);
}

.servicos {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 100px 50px 100px 50px;
  text-align: center;
  background-color: #fff;
}

.servico {
  padding: 20px 50px 20px 50px;
  text-align: center;
  color: #000000;
}

.frm-contato {
  padding: 100px 100px;
  text-align: center;
}

.frm-input {
  border-radius: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-gradiente{
  background-image: linear-gradient(#76b9f0, #fff);
}